// FONTS //
$main-font-stack: 'Montserrat', 'Arial', sans-serif;
$lead-font-stack: "Kaushan Script", 'Arial', sans-serif;
$text-font-stack: 'Roboto',sans-serif;

// PRIMARY COLORS //
$primary-white-color: #ffffff;
$primary-dark-color: #333333;

// SECONDARY COLORS //
$secondary-color: #f38181;
$secondary-white-color: #e5e5e5;
$link-color: #fce38a;
$text-color: #999999;
$box-shadow-color:#95e1d3;

// ICONS COLOR //
$service-icon-color: #95e1d3;
$social-icon-color: #f38181;
$icon-bg-color: #fce38a;
$icon-bg-color--hover: #f38181;
$icon-color--hover: #ffffff;

// LINEAR GRADIENT COLOR //
$linear-gradient-color: linear-gradient(to top, rgba(252, 227, 138, 0.81) 0%, rgba(243, 129, 129, 0.81) 100%);

// FORM PLACEHOLDER TEXT COLOR //
$placeholder-text-color: #cccccc;

// "SUBSCRIBE" BUTTON COLOR //
$subscribe-btn-color: #95e1d3