.banner {
  width: 802px;
}

.banner__lead {
  font-size: 72px;
  color: $primary-white-color;
  margin-top: 148px;
}

.banner__title {
  font-size: 143px;
  color: $primary-white-color;
  margin-top: -37px;
  line-height: 140px;
  margin-bottom: 112px;
}
